h3{
    font-size: 2.2rem;
    color: #6757d9;
    margin-bottom: 70px;
}

button {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 20px ;
    text-align: center;
    text-decoration: none;
    color: #6757d9;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button:hover{
    background-color: #6757d9;
    color: #fff;
}

a {
    margin-top: 20px;
}

a:hover{
    background-color: #6757d9;
    color: #fff;
}