p{
    font-size: 3rem;
    font-weight: 600px;
    background-color: #6757d9;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 70px;
}

input{
    border: 2px solid #fff;
    padding: 15px;
    width: 300px ;
    font-size: 1rem;
    border-radius:20px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in;
}

input:focus{
    outline: none;
    border-color: #6757d9;
}


button , a{
    background-color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: #6757d9;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button:hover
, a:hover{
    background-color: #6757d9;
    color: #fff;

}