#loader{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 46%;
    left: 46%;
    border: 7px solid #6759d9;
    border-bottom: transparent;
    border-top: transparent ;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1.5s linear infinite;
    -webkit-animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100% {
        transform: rotate(360deg);
    }
}

#container{
    display: none;
    width: 700px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header div{
    display: flex;
    align-items: center;
}

.header p{
    color: #6759d9;
    font-size: 1.5rem;
    font-weight: 600px;
    margin-right: 10px;
}

.header span{
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    line-height :25px ;
    text-align: center;
    font-weight: 600px;
    color: #6759d9;
    border-radius: 4px;
    font-size: 1.2rem;
}

#question-box
{
    width: 700px;
    display: flex;
    flex-direction: column;
}

#question-box h3{
    background-color:#6759d9 ;
    padding: 20px;
    color: #fff;
    border-radius: 20px;
    margin:60px 0 30px;
}


.answer-text{
    background-color: #fff;
    border: none;
    margin-bottom: 40px;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: left;
    cursor: pointer;
    border: 2px solid #fff;
    transition: all 0.2s ease-in;
}

.answer-text:hover{
    background-color: #eeedfb;
    border: 2px solid #fff
}

#next-button,
#finish-button{
    color: #6759d9;
    font-size: 1rem;
    background-color: #eeedfb;
    border: 2px solid #6759d9;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 20px 20px 0 0 ;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#next-button:hover,
#finish-button:hover{
    background-color: #6759d9;
    color:#fff;
}

.correct {
    background-color: #5bd7bc;
}

.incorrect {
    background-color: #f66681;
}

.correct:hover {
    background-color: #5bd7bc;
}

.incorrect:hover {
    background-color: #f66681;
}